<%= form_with model: [@recipe] do |form| %>
 <div class="custom-control custom-switch">
 <%= form.check_box :public, class: "custom-control-input", id: "customSwitch1"%>

   <label class="custom-control-label" for="customSwitch1">Public</label>
 </div>
 <div class="actions">
     <%= form.submit %>
 </div>
<% end %>